@import "~normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');
@import "_variables";

body {
  background: $background;
  color: $main-text;
  display: flex;
  font-family: 'Rubik', sans-serif;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.portfolio {
  box-sizing: border-box;
  @media screen and (min-width: 769px) {
    width: 1080px;
  }
  margin: 16px;
  gap: 32px;
  display: flex;
  flex-direction: column;
}

.about {
  display: flex;
  gap: 16px;
  flex-direction: column;
  align-items: center;

  &__header {
    grid-area: header;
    font-size: 32px;
    text-align: center;
  }

  &__image-container {
    grid-area: image;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
  }

  &__image {
    width: 250px;
  }

  &__text {
    grid-area: about;
    text-align: justify;
  }


  @media screen and (min-width: 768px) {
    display: grid;
    grid-template-areas: "header header"
                       "image about";
    grid-template-columns: 250px 1fr;
  }
}

.skills {
  display: flex;
  gap: 16px;
  padding: 16px;
  flex-direction: column;
  align-items: center;
  background: $secondary-background;
  color: $secondary-text;
  border-radius: 8px;

  &__header {
    font-size: 32px;
  }

  &__select {
    width: 100%;
    background: #F5F5F5;
    text-align: center;
    border-radius: 8px;
    padding: 12px;
    appearance: none;
  }

  &__well-known {
    list-style: none;
    margin: 0;
    padding: 0 16px;
    box-sizing: border-box;
    width: 100%;
  }

  &__tab-picker {
    display: grid;
    padding: 0;
    grid-template-columns: repeat(3, 1fr);
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, .8);
    border-radius: 8px;
    width: 100%;
  }

  &__tab-label {
    text-align: center;
    padding: 12px;
    transition: background-color ease-in-out .3s, color ease-in-out .3s;
    border-radius: 8px;
    cursor: pointer;

    &--selected {
      background-color: #F5F5F5;
      color: $main-text;
    }

    &:hover {
      background-color: #F5F5F5;
      color: $main-text;
    }
  }

  &__tab-radio {
    visibility: hidden;
  }
}

.skill {
  display: grid;
  grid-template-columns: 24px 1fr;
  gap: 16px;
  margin-top: 16px;
  &__check {
    color: #CDD111;
  }

  &__name {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
  }
}
